obj/x86/Debug/BiTree.csprojResolveAssemblyReference.cache
*.exe
obj/x86/Debug/BiTree.pdb
bin/Debug/BiTree.exe
*.pdb
obj/x86/Debug/BiTree.csproj.FileListAbsolute.txt
*.exe
bin/Debug/BiTree.pdb
*.txt
obj/x86/Debug/BiTree.exe